* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #2565ff;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    background: #fff;
    max-width: 1400px;
    margin: auto;
}

.wrapper {
    padding: 5rem;
    background: #eaeaea;
    min-height: 100vh;

}

.nav-ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-li {
    padding: 0.5rem;
    margin-right: 1rem;
    transition: .3s;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.nav-a {
    text-decoration: none;
    color: #2565ff;
    font-weight: bold;
}



.nav-li.active, .nav-li:hover {
    border-bottom: 1px solid #2565ff;
}

.wrapper .container {
    padding: 0;
    border: 2px solid #ccc;
}

.h1 {
    margin-top: 0;
    font-size: 2rem;
    font-size: 900;
    color: #444;
}

.min-accuracy-container {
    /* padding: 1rem; */
    height: 100%;
    border-right: 2px solid #ccc;
}

.acceptance-rate {
    margin: 0;
    font-size: 1rem;
}

.accurracy-helper-text{
    color: #aaa;
    font-size: 14px;
}

.min-accuracy-span {
    /* background: #2565ff;
    color: #fff; */
    color: #444;
    /* padding: 0.5rem 1rem; */
    font-size: 1.5rem;
    font-weight: 900;
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0;
}

.control-grid {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.line-break {
    height: 1px;
    width: 100%;
    background: #eee;
    margin: 3rem 0;
}

.controls-wrapper {
    padding: 1rem;
}

.grid-right {
    height: 100%;
    background: #eaeaea;
}


.enable-webcam-span {
    display: none;
}

.display-block {
    display: block;
}

.video-container-el {
    display: none;
}

.streamer-container-el {
    display: none;
}

.visible {
    display: block !important;
}

.streamer-container.active {
    display: block;
}

.video-player-wrapper.active {
    display: flex;
}

.image-prediction-container.active {
    display: grid;
}

#video-player {
    max-width: 100%;
}

.preparing-site {
    opacity: 0;
    animation: 3s page-fade-in-out ease-in-out;
}

.building-model {
    opacity: 0;
    animation: 3s page-fade-in-out ease-in-out 3s;
}

.loading-site {
    opacity: 0;
    animation: 1.5s page-fade-in ease-in-out 6s forwards;  
}

.btn-red {
    background: #b71c1c;
}

.btn-green {
    background: #4caf50;
}

.d-flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.j-between {
    justify-content: space-between;
}

@keyframes page-fade-in-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes page-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}